myenv/
hyperenv/
.env
database/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.vscode/
.idea/
.claude/
.db
raw_data_per_user_per_temp/
raw_data_per_user/
raw_data/
cleaned_data/
$HF_HOME/
$HOME/
cleaned_data/